<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css"/>
    <style>
      body {
        min-height: 100vh;
        background-color: rgba(228, 226, 238, 0.9);
        padding-bottom: 10vh;
      }
      div.setup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      form {
        width: 40%;
      }
      .uk-legend {
        padding: 20px 0px;
      }
      span.error {
        font-size: smaller;
        color: red;
        display: block;
      }
      .error-notification{ 
        font-size: large;
        padding: 10px;
        color: rgb(83, 25, 25);
        border: 1px solid rgb(83, 25, 25);
        background-color: rgb(255, 169, 169)
      }
    </style>
  </head>
  <body>
    <div class="setup" data-errors=''>
      <img src="img/logo.png" />
      <% if (locals.success) { %>
        <div class="uk-alert uk-alert-success">
          Success! You should receive an email notification 
          with further instructions.
        </div>
      <% } %>
      <% if (locals.message) { %>
        <div class="uk-alert uk-alert-danger">
          Please correct the following errors.
        </div>
      <% } %>
      <form action="/setup" class="uk-form-horizontal" method="POST">
        <fieldset class="uk-fieldset">
          <legend class="uk-legend" style="">A little about yourself</legend>
          <div>
            <label for="first_name" class="uk-form-label">First Name*</label>
            <div class="uk-form-controls">
                <input class="uk-input" value="<%= locals.first_name %>" type="text" name="first_name" id="first_name"/>
            </div>
          </div>
          <div>
            <label for="last_name" class="uk-form-label">Last Name*</label>
            <div class="uk-form-controls">
                <input class="uk-input" value="<%= locals.last_name %>" type="text" name="last_name" id="last_name"/>
            </div>
          </div>
          <div>
            <label for="bio" class="uk-form-label">Bio*</label>
            <div class="uk-form-controls">
                <textarea class="uk-textarea" rows="10" name="bio" id="bio"><%= locals.bio %></textarea>
            </div>
          </div>
          <div>
            <label for="born" class="uk-form-label">When were you born?*</label>
            <div class="uk-form-controls">
              <input class="uk-input" value="<%= locals.born %>" type="text" id="born" name="born" placeholder="MM/DD/YYYY">

            </div>
          </div>
          <div uk-form-custom="target: true">
            <label for="image" class="uk-form-label">Image</label>
            <div class="uk-form-controls">
              <input type="file">
              <input class="uk-input uk-form-width-medium" type="text" placeholder="Select file" disabled>
            </div>
          </div>
        </fieldset>
        <fieldset class="uk-fieldset">
          <legend class="uk-legend">Some Account Details...</legend>
          <div>
            <label for="email" class="uk-form-label">Email*</label>
            <div class="uk-form-controls">
              <input id="email" value="<%= locals.email %>" name="email" class="uk-input" type="text">
            </div>
          </div>
          <div>
            <div class="uk-form-controls">
              <input type="submit" style="width: 100%;"class="uk-button uk-button-primary" value="Get Started">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        var errors = <%- JSON.stringify(locals.errors) %>;
        if(errors) {
          $.each(errors, function(idx, error) {
            $("[name=" + error.field + "]").addClass('uk-form-danger');
            $("[name=" + error.field + "]").closest('div').append('<span class="error">' + error.message + '</span>');
          });
        }
      });
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
  </body>
</html>